﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="demoADO_Ajax.aspx.cs" Inherits="demoADO_Ajax.demoADO_Ajax" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
          nom:  <input type="text" id="nom" name="nom" />
            <input type="button" value="save" id="btnSave"/>
            <input type="button" value="save" id="btnUpdate"/>
            <input type="button" value="save" id="btnDelete"/>
            <input type="button" value="save" id="btnShow"/>

            <p id="p" >

            </p>

        </div>

        <script src="Scripts/jquery-3.3.1.js"></script>
        <script src="Scripts/WebForms/MyScript.js"></script>
    </form>

</body>
</html>
